@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 375px;
    background-color: #eee;
    margin: 0 auto;
}
.container{
    margin: 56px 31px 143px 36px;
}
h1{
    width: 140px;
    height: 44px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 8px;
}
.center{
    width: 309px;
    height: 174px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 56px;
}
.image{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 46px;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 170px;
    height: 160px;
}
footer{
    display: flex;
    flex-wrap: wrap;
}
footer div{
    width: 87px;
    height: 36.5px;
    margin-right: 33px;
    margin-bottom: 34px;
}
div .title{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    height: 18.5px;
}
div .text{
    width: 87px;
    height: 18px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
}